/* 主体颜色 */
$app-theme-color: #28b389; // 主体红色

$border-color: #E0E0E0;
$border-color-light: #EFEFEF;

$text-font-color-1: #28b389;
$text-font-color-2: #676767;
$text-font-color-3: #A7A7A7;
$text-font-color-4: #E4E4E4;